<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="MasterConnection203" connectionString="Data Source=192.168.1.203;Initial Catalog=SIECHEM;User ID=sa;Password=Vinayaga@123;Connect Timeout=1000" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>